__pycache__/
.env
.env.tmp
../.env
db.sqlite3
frames
*.pyc
migrations/
migration
**/migrations/**
!**/migrations
!**/migrations/__init__.py

aivi/media/*
aivi/frames
aivi/frames/*
.directory
.idea
.vscode
.test
!aivi/media/staticimg/